p_data_exploration.py
resources/Auftragsdaten
resources/Auftragsdaten_Zeit
resources/Positionsdaten
resources/Auftragsdaten_konvertiert
resources/Positionsdaten_konvertiert
.idea
__pycache__
testing.py
venv/
resources/eval_df.html
resources/eval.html
resources/dashboard_data.duckdb
resources/dashboard_data_old.duckdb
resources/reports